.navbar-nav {
  display: flex;
  align-items: center;
  a {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    font-size: 0.875rem;
    color: #ffffff !important;
    opacity: 0.7;
    text-decoration: none;
    text-align: center;
  }
  li {
    padding: 0 0.75rem;
    cursor: pointer;
  }
}
.dropdown-menu {
  background-color: #fff;
  border-radius: 0.875rem;
  top: 1.3rem !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background: transparent !important;
}

header {
  background-color: transparent;
  padding: 1rem 0;
  z-index: 1;
  .container-fluid {
    padding: 0;
  }
}
nav {
  // position: fixed;
  // top: 0;
  // left: 0;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.4s ease-out;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-brand {
  img {
    width: 100%;
    max-width: 15rem;
  }
}
#account {
  button {
    background-color: transparent;
    border: none;
    padding: 0;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      padding: 0.5rem 1rem;
      span {
        color: #000;
        margin: 0 0 0 0.5rem;
      }
      .wallet {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 0;
        width: 100%;
        .address {
          color: #000;
          font-size: 1rem;
          line-height: 22px;
          width: 80%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-align: right;
        }
        button {
          background-color: transparent;
          border: none;
          height: 1.5rem;
          margin: 0 0 0 0.15rem;  
          padding: 0;
          width: 1.5rem;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
#connectwallet {
  a.connect-wallet {
    border: 1px solid #33a852;
    font-weight: 500;
    background: transparent;
    color: #33a852 !important;
    padding: 0.5rem 1rem !important;
    opacity: 10;
    text-decoration: none;
    border-radius: 0.75rem;
    display: block;
    text-align: center;
  }
}

// Media Queries
@media (min-width: 992px) {
  .navbar-expand-md .navbar-nav {
    flex-direction: row !important; 
  }
}
@media (max-width: 991px) {
  .navbar-light .navbar-toggler {
    background: #fefefe;
  }
  .nav-links {
    align-items: flex-start;
    background: #161616;
    border-top: 1px solid #676768;
    height: 100vh;
    justify-content: flex-start;
    margin: 2rem 0 0;
    padding: 1.5rem 0;
    li {
      padding: 0.75rem 0;
    }
    a {
      color: #676768 !important;
    }
  }
}

#navbarToggler {
  display: none;
}

@media (max-width: 360px) {
  .navbar-brand {
    img {
      max-width: 10rem;
    }
  }
}

.navbar-light {
  .navbar-toggler-icon {
    background-image: url(../../assets/burgermenu.png) !important;
  }
  .navbar-toggler {
    background-color: transparent;
    border: none;
    padding: 0;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}
